* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* header bar starts here */

.header1-wrapper {
  position: fixed;
  z-index: 900;
  width: 100%;
}

.header1 {
  display: flex;
  width: 100%;
  padding: 20px;
  background-color: rgb(4, 5, 10);
  color: white;
}

/* octa fx logo for media query hidden */

.OctaFX-logo {
  margin-left: 120px;
}

/* octa award text link */
.OctaFX-award {
  text-decoration: none;
  color: rgba(180, 165, 125, 0.836);
  font-weight: 200;
  font-size: 13px;
  margin-left: 20px;
}

/* octa award text link change on hover */
.OctaFX-award:hover {
  color: rgba(146, 126, 69, 0.836);
}

/* open a new account box starts here */

.external{
  font-size: 30px;
  float: left;
  display:none;
  color: white;
}

.navs-me{
  display: none;
}

.open-new-account {
  text-decoration: none;
  color: white;
  font-size: 10px;
  padding: 15px 30px;
  background-color: rgba(77, 180, 77, 0.993);
  border-radius: 5px;
}

.open-new-account {
  margin-left: 580px;
}

.open-new-account:hover {
  background-color: rgba(49, 160, 49, 0.932);
}

/* open new account ends here */

/* login botton  */
.Login-button {
  text-decoration: none;
  color: white;
  font-size: 12px;
  background-color: rgba(44, 40, 40, 0.904);
  border-radius: 5px;
  padding: 10px 16px 5px;
}



.Login-button {
  margin-left: 5px;
}

.Login-button:hover {
  background-color: black;
  border: 0.1px solid rgba(128, 128, 128, 0.404);
}


.country-selection {
  display: flex;
  background-color: rgba(12, 12, 12, 0.863);
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  margin-left: 7px;
}

.country-selection:hover {
  border: 1px solid rgba(88, 87, 87, 0.747);
}

.country-selection img {
  width: 16px;
  height: 17px;
  margin: 2px;
}

.country-selection p {
  font-size: 10px;
  padding: 5px;
}

.country-selection .drop-bar {
  font-size: 12px;
  margin: 3px;
}
/* header stops here */

/* navigation bar starts here  */

.navbar-wrapper {
  z-index: 1;
  position: fixed;
  background-color: rgb(4, 5, 10);
  width: 100%;
  margin-top: 82px;
  border-top: 0.1px solid rgba(255, 255, 255, 0.219);
}

/* .navigation-bar{} */

.nav-bars{
  list-style: none;
  display: flex;
  color: #ffffff;
  font-size: 12px;
  margin-left: 100px;
  overflow: hidden;
}

.nav-bars li{
  padding: 20px 10px;
  cursor: pointer;
  margin-left: 30px;
}

.Hamburger{
  font-size: 30px;
  display: none;
  color: white;
}
#checkbox1{
  display: none;
}

/* dropdown styles */
.fxtrading{
  position: absolute;
  display:none;
  background-color: rgb(20, 17, 17);
  width: 100%;
  top: 52px;
  cursor:default;
}

.fxtrading ul {
  /* padding-top: 30px; */
  padding: 10px 0px 10px 0px;
  font-weight: 600;
  margin-left:130px;
}

.fxtrading ul a{
  text-decoration: none;
  color: rgb(196, 196, 196);
  text-align-last:left;
}

.fxtrading ul a li{
  list-style: none;
  text-decoration: none;
  font-weight: 100;
  /* padding-left: 50px; */
  margin-left: -10px;
}

.fxtrading ul a:hover{
  color: #ffffff;
}

 /*give the nav bar a bg color on hover  */
.nav-bars li:hover{
  background-color: rgb(43, 38, 38);
} 

.fx-sub4{
  margin-left: 90px;
  margin-top: 20px;

}

.fx-sub4 p{
  text-align: center;
  font-size: 15px;
  font-weight: 800;
  text-transform: uppercase;
}
.fx-sub4 img{
  margin-bottom: 50px;
}

.fx-sub4 a{
  text-decoration: none;
  color: rgb(8, 8, 8);
  font-size: 10px;
  padding: 15px 50px;
  background-color: rgba(250, 250, 250, 0.993);
  border-radius: 5px;
  text-align: center;
  margin: 0 0 0 90px;
}

/* Display drop-down on hover for fx trading */
.nav-bars #dropdown:hover .fxtrading{
  display:flex ;     /*display on hover*/
  position: absolute;
  width: 100%; 
  left: 0;
  background-color: inherit;
}

/* Display drop-down on hover for Trading platform */
.nav-bars #trading:hover .fxtrading{
  display:flex ;     /*display on hover*/
  position: absolute;
  width: 100%; 
  left: 0;
  background-color: inherit;
}


.fx-sub5{
  margin-left: 600px;
  margin-top: 20px;
}

.fx-sub5 p{
  text-align: center;
  font-size: 15px;
  font-weight: 800;
  text-transform: uppercase;
}
.fx-sub5 img{
  margin-bottom: 50px;
  margin-top: px;
  width: 150px;
  height: 200px;
  margin-left: 50px;
}
.fx-sub5 a img{
  width:150px;
  height: 40px;
  border-radius: 5px;

}
/* buttom link the the second nav drop down */
#meta{
  position: absolute;
  display: block;
  margin-top: 250px;
  text-decoration: none;
  color: #ffffff;
  margin-left:83px;

}

#meta hr{
  width: 300%;
  margin-left: 50px;
  margin-bottom: 20px;
}

#meta a{
  text-decoration: underline rgba(146, 143, 143, 0.568);
  color: white;
  font-size: 15px;
  padding: 15px 10px;
  /* background-color: rgba(77, 180, 77, 0.993); */
  border-radius: 5px;
  text-align: center;
  margin: 5px 0 0 40px;
}


/* Display drop-down on hover for Referral program */
.nav-bars #referral:hover .fxtrading{
  display:flex ;     /*display on hover*/
  position: absolute;
  width: 100%; 
  left: 0;
  background-color: inherit;
}

.fx-sub6{
  padding: 30px;
  margin-left: 100px;
}

.fx-sub6 p{
  text-align: center;
  font-size: 15px;
  font-weight: 800;
  text-transform: uppercase;
}
.fx-sub6 img{
  margin-bottom: 20px;
}

.fx-sub6 a{
  text-decoration: none;
  color: rgb(27, 27, 27);
  font-size: 10px;
  padding: 15px 50px;
  background-color: rgba(241, 241, 241, 0.993);
  border-radius: 5px;
  text-align: center;
  margin: 0 0 0 40px;
}

/* super scripts in dropdown */



/* Display dropdown on hover for Promotions  */
.nav-bars #Promotions:hover .fxtrading{
  display:flex ;     /*display on hover*/
  position: absolute;
  width: 100%; 
  left: 0;
  background-color: inherit;
}

.fx-sub7{
  padding: 30px;
  margin-left: 80px;
}

.fx-sub7 p{
  text-align: center;
  font-size: 15px;
  font-weight: 800;
  text-transform: uppercase;
}

.fx-sub7 h5{
  /* margin-left: 15px; */
  text-align: center;
}

.fx-sub7 img{
  margin-top: 20px;
  margin-bottom: 25px;
  width: 180px;
  height: 150px;
  margin-left: 45px;
}

.fx-sub7 a{
  text-decoration: none;
  color: rgb(19, 18, 18);
  font-size: 10px;
  padding: 15px 50px;
  background-color: rgba(255, 255, 255, 0.993);
  border-radius: 5px;
  text-align: center;
  margin: 0 0 0 60px;
}

#demo{
  color: #ff7c25;
}

#pro{
  color: green;
}

/* Display dropdown on hover for analysis and educations  */
.nav-bars #Analysis-edu:hover .fxtrading{
  display:flex ;     /*display on hover*/
  position: absolute;
  width: 100%; 
  left: 0;
  background-color: inherit;
}

/* Display dropdown on hover for Copy trading */
.nav-bars #Copy:hover .fxtrading{
  display:flex ;     /*display on hover*/
  position: absolute;
  width: 100%; 
  left: 0;
  background-color: inherit;
}


/* navigation bar ends here........ */

/*........ main content starts from here */

/* Section 1 */
.main-wrapper {
  background: #fff;
}

.main-content-container {
  background-color: #02001e;
  position: relative;
}

.main-content {
  position: relative;
  height: 100vh;
  /* padding-top: 200px; */
  /* padding-bottom: 308px; */
  background-color: rgba(0, 0, 0, 0);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-image: url("/photos/friendship-month-desktop.jpg");
  width: 100%;
  /* margin-top: 100px; */
  background-position-x: right;
  background-position-y: bottom -65px;
}

.main-content h4,
.main-content h1,
.main-content a,
.main-content p {
  margin-left: 145px;
  font-weight: 300;
}

.main-content .ad-date {
  padding: 200px 0 40px 0;
  color: white;
}
.ads-details {
  font-size: 32px;
  color: white;
  margin-bottom: 20px;
}

.ads-details1 {
  margin-bottom: 50px;
  color: #ffffff;
}

.friendship-month {
  display: flex;
  font-family: sans-serif;
  -webkit-text-stroke: 1px blue;
  color: transparent;
  font-size: 80px;
  position: relative;
  text-transform: uppercase;
}

.get-invite-link{  
font-size: 14px;
font-weight: 500;
align-items: center;
padding: 20px 35px;
text-decoration: none;
text-transform: uppercase;
color: #fff;
border: solid 1px #00c94c;
background: #00c94c;
border-radius: 4px;
text-align: center;
cursor: pointer;
}

.login-comment{
  margin: 35px;
  padding-left: 15px;
  font-size: 12px;
  color: #999494;

}

.friendship-month-movement{
  margin-top: 100px;
  display: flex;
  align-items: center;
}
/* rating block starts here */
.rating-block{
  height: 40vh;
  width: 100%
}

/* rating pilot */
.pilot{
  color: #00b67a;
  font-size: 30px;
  margin-top: 10px;

}

.ratings{   
position: relative; 
display: flex;
margin:20px;
}

/* first rating */
.sub1{
  padding: 40px;
  font-weight: 600;
  margin-left: 40px;
  margin-top: 30px;
}

.sub1 h3 {
  text-align: center;
  margin-bottom: 5px;
}

.sub1 p{
  font-size: 12px;
  text-align: center;
  margin-top: 10px
}

.sub1 p a{
  color:rgb(36, 35, 35);
}

.sub1 span{
  font-size: 15px;
}

.scroll-1{
  margin-top: 90px;
  font-size: 30px;
  color: #afa9a99f;
  cursor: pointer;
}

.scroll-2{
  margin-top: 70px;
  font-size: 30px;
  color: #afa9a99f;
  cursor: pointer;
}
/* other ratings */
.sub-ratings{
  display: flex;
  padding: 20px;
}

.sub-ratings1 h4{
  font-weight: 900;
  font-size: 10px;
}
.sub-ratings1 p{
  font-size: 12px;
  margin-top: 10px;
}

.icons-box1{
  color: white;
  font-size: 20px;
  background-color: #00b67a;
  
}

.sub-icons{
  margin-bottom: 10px;
}

.icons-box{
  color:white;
  font-size: 20px;
  background-color: #00b67a;
}

#range{
  font-size: 10px;
  margin-left: 65px;
}
.sub-ratings1{
  padding:20px;
  width: 300px;
  margin-top: 30px;
}
/* rating block ends here */

.main-content-container-2{
  background-image: url(/photos/bg-tools.jpg);
  position: relative;
  color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 50%;
  background-position-y: 50%;
  height: 80vh;
}

.main-content-container-2-shed{
  height: 80vh;
  background-color: #0c0b0b7c;
  background-position-x: 50%;
  background-position-y: 50%;
  position: relative;
}

.main-content-container-2-shed h1{  
  text-align: center;
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 25px;
  color: #fff;
  padding-top: 80px;
}

.main-content-text{
  margin-left: 380px;
  text-align: center;

}

.main-content-text2{
  margin-left: 220px;
  text-align: center;
}

.main-content-wrapper{
  display: flex;
  margin-top: 50px;
}

.context-text-1{
  font-size: 20px;
}

.content-text-2{
  width: 120px;
  margin:10px 0 10px 55px;
  padding: 4px 10px;
  color: #fff;
  font-size: 12px;
  border-radius: 4px;
  background: #ff7c25;
}

.content-text-3{
  text-decoration: none;
  color: white;
  font-weight: bolder;
  font-size: 30px;
}

.content-text-3 span{
  color: #ff7c25;
  font-size: 45px;
}

.learn-more{
  text-decoration: underline;
  color: #fff;
}

.learn-more:hover{
  text-decoration: none;
}
.content-text2-1{
 font-size: 20px;
}

.content-text2-2{
  text-decoration: none;
  color: white;
  font-weight: bolder;
  font-size: 30px;
  margin-top: 50px;

}

.content-text2-2 span{
  color: #ff7c25;
  font-size: 45px;
}


.learn-more2{
  text-decoration: underline;
  color: #fff;
}

.learn-more2:hover{
  text-decoration: none;
}

.account-type-button{
  margin: 50px 550px;
  position: relative;
  font-size: 13px;
  display: inline-flex;
  align-items: center;
  height: 60px;
  padding: 0 32px;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 1.2;
  color: #fff;
  border: solid 1px #00c94c;
  background: #00c94c;
  border-radius: 4px;
}


.devices{
  height: 70px;
  background-color: rgba(0, 0, 0, 0.336);
  position: absolute;
  width: 100%;
  margin-top: 5px;
  display: flex;
}

.devices p{
  margin-left: 470px;
  padding:30px 40px 0 0;
}

.devices .device-icons{
  margin:20px 30px 20px 10px ;
  font-size: 35px;
  color: #ffff;
  justify-content: space-evenly;
}

.devices .device-icons:hover{
  color: white;
  cursor: pointer;
}

.android-ads-wrapper{
  background-color: white;
  height: 100vh;
}

.android-ads-content{
  display: flex;
  width: 100%;
}

.text-content{
  margin: 100px 0 90px 130px ;
}

.text-content h1{
  font-size: 40px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#googleplay img{
  height: 60px;
  width: 200px;
}


.text-content ul{
  margin: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.text-content ul li{
  font-size: 17px;
  padding-top: 10px;
  /* letter-spacing: 0.px; */
  color:rgb(20, 20, 20);
}

.android-image-ads{
  margin-top: 30px;
  margin-left: 20px;
}

.forex-wrapper{
  background-color: rgb(29, 29, 29);
  height: 80vh;
  color: rgb(255, 255, 255);
  text-align: center;
}

.forex-content{
  padding-top: 60px;
}

.forex-content h1{
  font-size: 40px;
}

.forex-content p{
  padding-top: 20px;
}

.forex-content2{
  display: flex;
  /* justify-content: center; */
}

.forex-first-link{
  margin-left: 350px;
  margin-top: 80px;
  margin-bottom: 60px;
}

.forex-first-link a{
  position: relative;
  font-size: 16px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 32px;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 1.2;
  color: #fff;
  border: solid 1px #00c94c;
  background: #00c94c;
  border-radius: 4px;
  text-align: center;
}


.forex-first-link p{
  font-size: 12px;
  text-transform: uppercase;
  color: white;
  margin-top: 10px;
}

.forex-content2 hr{
  margin-left: 120px;
  height: 20vh;
  margin-top: 60px;
  background-color: rgba(63, 63, 63, 0.034);
  border: 1px solid rgba(134, 134, 134, 0.178);
}


.forex-second-link{
  margin-left: 150px;
  margin-top: 80px;
  margin-bottom: 60px;
}

.forex-second-link a{
  position: relative;
  font-size: 16px;
  display: inline-flex;
  align-items: center;
  height: 60px;
  width: 220px;
  padding: 0 65px;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  color: #fff;
  border: solid 1px #006add;
  background: #006add;
  border-radius: 4px;
}

.forex-second-link p{
  font-size: 12px;
  text-transform: uppercase;
  color: white;
  margin-top: 10px
}

.forex-contd{
  position: relative;
  height: 80vh;
  background-color: #f1f1f1d0;
}

.suspended-ads{
  display: flex;
  position: relative;
  width: 100%;
}


.bonus-on-deposit-container{
  position: absolute;
  height: 50vh;
  width: 40%;
  background-color: #ffffff;
  top: -80px;
  margin-left: 140px;
}

.bonus-on-deposit-container h3{
  margin: 20px;
  font-family: Verdana;
}
.bonus-on-deposit-container img{
  position: absolute;
  margin-left: 480px;
  height: 120px;
  width: 100px;
  top: -25px;
}

.bonus-on-deposit-container hr{
  width: 70px;
  height: 2px;
  background-color: rgb(58, 228, 58);
  border: 1px solid rgb(39, 214, 39);
  border-radius: 2px;
  margin-top: 100px;
  margin-left: 30px;
}

.bonus-on-deposit-container p{
  padding: 15px 15px 25px 30px;
}

.bonus-on-deposit-container a{
  color: #00c94c;
  text-decoration: none;
  font-size: 20px;
  margin-left: 80px;
}

.negative-balance-pro{
  position: absolute;
  height: 50vh;
  width: 40%;
  background-color: #ffffff;
  top: -80px;
  margin-left: 750px
}

.negative-balance-pro h3{
  margin: 20px;
  font-family: Verdana;
}
.negative-balance-pro img{
  position: absolute;
  margin-left: 480px;
  height: 120px;
  width: 100px;
  top: -12px;
}

.negative-balance-pro hr{
  width: 70px;
  height: 2px;
  background-color: rgb(58, 228, 58);
  border: 1px solid rgb(39, 214, 39);
  border-radius: 2px;
  margin-top: 100px;
  margin-left: 30px;
}

.negative-balance-pro p{
  padding: 15px 15px 50px 30px;
}

.negative-balance-pro a{
  color: #00c94c;
  text-decoration: none;
  font-size: 20px;
  margin:0 0 0 200px ;
}

.Choose-forex-trade{
  text-align: center;
  padding-top: 350px;
  width: 100%;
}

.Choose-forex-trade h1{
  font-size: 40px;
  margin-bottom: 20px;
}

.forex-conditions{
  display:flex;
  /* text-align: center; */
  font-size:17px;
  justify-content: center;
}

.forex-conditions p {
  display: inline-block;
  margin: 40px 60px 5px 100px;
  font-weight:600;
  text-align: center;
}

.thick{
  color: #00c94c;
  
}


.Profit{
  height: 30vh;
  width: 100%;
  background-color: #00c94c;
  text-align: center;
  color: #ffffff;
  padding-top: 70px;
}

.Profit h6{
  font-size: 15px;
  margin-bottom: 10px;
}

.Profit a{
  font-size: 25px;
  color: #ffffff;
  font-weight: 600;
}

/* footer starts from here */

.footer-bar{
background-color: #171b1d;
height: 360px;
}

.footer-content{
  display: flex;
  margin-left: 100px;
}

.footer-content ul{
  color:white;
  font-weight: 600;
  font-size: 15px;
  margin:40px 70px 15px 20px;
}

.footer-content ul a{
  color: rgb(216, 216, 216);
  text-decoration: none;
}

.footer-content ul a li{
  font-size: 10px;
  margin:20px 30px 0 0;
  list-style: none;
  color: #999494;
}

.get-app-container{
  margin: 35px 0 0 120px;
  color: white;
}

.get-app-container >p{
  margin-bottom: 20px;
  font-size: 15px;
}
.get-app{
  display: flex;
  margin-bottom: 20px;
}

.app-title p{
  font-size: 12px;
  color: whitesmoke;
  margin-left: 10px;
  margin-bottom: 5px;
}

.app-link p{
  font-size: 10px;
  color: rgb(116, 116, 116);
  margin-left: 10px;
}

.get-app img{
  border-radius: 5px;
  width: 40px;
  height: 35px;
}

.get-app-link a{
  /* display: block !important; */
  text-decoration: none;
  color: #ffffff;
}
.social-media{
   margin: 35px 0 0 70px;
}

.social-media >p{
  color: white;
  margin-bottom: 25px;
}

.social-media a img{
  margin-bottom: 25px;
}

.social-media .media-accnt{
  color: white;
  margin: 0px 34px 0 0;
  font-size: 17px;
}

.final-footer p{
  font-size: 12px;
  color: grey;
  margin-left:120px ;
}

.final-footer hr {
  width: 85%;
  margin-left: 8%;
  border: 0.5px solid rgba(95, 92, 92, 0.137);
}

.final-footer .company-footer{
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 120px;
}


.final-footer .company-footer a{
  text-decoration: none;
  color: rgb(110, 110, 110);
  font-size: 11px;
  margin: 0 30px 0px 0px;
  font-weight: bold;
}

.company-footer a:hover, .footer-content ul a li:hover{
  color: rgb(250, 250, 250);
}



  @media (max-width: 364px) {

  .header1-wrapper{
    position: relative;
    z-index: 0;
    opacity: 0.1;
    }
  .header1{
    display: none;
    position: relative;
    display: none;
    z-index: -10;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.404);
  }
  
  .navs-me{
    display: flex !important;
    position: absolute;
    z-index: 1;
    top: 0px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.459);
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .octa-fx{
    left: 100px;
    position: absolute;
  
  }
  
  .navigation-bar:hover #fx-bar-wrapper ul{
    display: block;
  }
  #dropdown{
    position: absolute;
  }
  .fxtrading{
    position: absolute !important;
    width: 100%;
    flex-wrap: wrap;
  }
  
  .fxtrading ul{
    position: absolute !important;
    /* left: ; */
    /* top: 0; */
    background-color: rgb(105, 8, 8) !important;
    /* height: 50vh !important; */
    width: 90% !important;
  }
  
  .fxtrading ul a{
    display: none;
    flex-direction: column;
  }
  
  
  .fxtrading ul:hover ~a li{
    display:flex;
    flex-direction: column; 
  }
  
  .OctaFX-award{
   display: none;
  }
  
  .fx-bar-wrapper ul{
    display: none;
    background-color: #02001e;
    width: 100%;
    /* left:  -50px; */
    top: -25px;
  }
  
  .fxtrading ul{
    padding: 0px 0px 0px 0px;
    font-weight: 600;
    margin-left:10px;
    background-color: none;
    display: flex !important;
    flex-direction: column;
    position: relative;
    top: 10px;
  
  }
  
  .fxtrading ul a{
    font-size: 10px;
    /* display: flex */
  }
  
  #checkbox1{
    position: absolute;
    top:-60px;
    margin-left: 10px;
    padding: 20px;
    z-index: 11;
    visibility: hidden;
    width: 2rem;
    display: block;
  }
  
  .external{
    display: block;
    color:#fff;
    margin: 0px 0 0 280px;
    font-size: 30px;
  }
  
  .Hamburger{
  /* padding: 5px; */
    display: flex;
    position: absolute;
    font-size: 40px;
    top: -65px;
    left: 10px;
    cursor: pointer;
    z-index: 10 ; 
  }
  
  
  .navbar-wrapper{
    background-color: transparent;
    border-top: transparent;
  }
  
  .nav-bars{
    margin-left: 0px;
    top: -12px;
    margin-top: 0;
    position: absolute;
  }
  
  /*........ main content starts from here */
  .main-content {
    position: relative;
    height: 490px;
  }
  
  
  .main-content h4,
  .main-content h1,
  .main-content a,
  .main-content p {
    margin-left: 15px;
  }
  
  .main-content .ad-date {
    padding: 150px 0 40px 0;
  }

  .ads-details {
    font-size: 20px;
    margin-bottom: 20px;
  }
  
  .ads-details1 {
    font-size: 15px;
    color:white;
    font-weight: 900;

    margin-bottom: 50px;
  }
  
  .friendship-month {
    display: none;
    
  }
  
  .get-invite-link{
    margin-left: 20px !important;  
    padding: 20px 50px;
  border-radius: 20px;
  }
  
  .login-comment{
    margin: 35px;
    padding-left: 15px;
    font-size: 12px;
    visibility: hidden;
  }
  
  .friendship-month-movement{
    margin-top: 100px;
    display: flex;
    align-items: center;
  }
  /* rating block starts here */
  .rating-block{
    height: 40vh;
    width: 100%
  }
  
  /* rating pilot */
  .pilot{
    font-size: 30px;
    margin-top: 10px;
  }
  
  .ratings{   
  position: relative; 
  display: flex;
  margin:20px;
  }
  
  /* first rating */
  .sub1{
    padding: 40px;
    font-weight: 600;
    margin-left: 40px;
    margin-top: 30px;
  }
  
  .sub1 h3,.sub1 p,.sub1 p a{
    display: none;
  }
  
  /* Trustpilot */
  .sub1 span{
    font-size: 15px;
    cursor: pointer;
  }
  
  .scroll-1, .scroll-2,.sub-ratings{
  display:none
  }
  
  .icons-box1{
    display: none; 
  }
  
  /* rating block ends here */
  .main-content-container-2{  
    height: 400px;
  }
  
  .main-content-container-2-shed{
    height: 400px;
    position: relative;
  }
  
  .main-content-container-2-shed h1{  
    font-size: 17px;
    padding-top: 30px;
  
  }
  
  .main-content-text {
    margin-left: 50px;
    text-align: center;
  }
  
  .main-content-text2{
    margin-left: 220px;
    text-align: center;
    visibility: hidden;
  }
  
  .main-content-wrapper{
    display: block;
    margin-top: 0rem;
  }
  
  .context-text-1{
    font-size: 20px;
    margin-right: 30px;
  }
  
  .content-text-2{
    margin-left: 50px;
  }

  .content-text-3{
    font-size: 30px;
    margin-right: 5rem;
  }
  
  .content-text-3 span{
    font-size: 45px;
  }
  
  .learn-more{
    margin-right: 5.5rem;
  }
  
  .learn-more:hover{
    text-decoration: none;
  }
  .content-text2-1{
   font-size: 20px;
  }
  
  .content-text2-2{
    font-size: 30px;
    margin-top: 50px;
  
  }
  
  .content-text2-2 span{
    font-size: 45px;
  }
  
  .learn-more2:hover{
    text-decoration: none;
  }
  
  .account-type-button{
    top: -17rem;
    margin: 10px 0 20px 50px ;
    position: relative;
    font-size: 10px;
    display: inline-flex;
    align-items: center;
    /* height: 60px; */
    padding: 0 32px;

  }
  
  .devices{
    height: 7vh;
    background-color: rgba(0, 0, 0, 0.336);
    position: absolute;
    width: 100%;
    margin-top: 25px;
    display: flex;
    top: 300px;
  }
  
  .devices p{
    margin-left: 30px;
    padding:30px 10px 0 0;
  }
  
  .devices .device-icons{
    margin:20px 0px 20px 10px ;
    font-size: 30px;
    justify-content: space-evenly;
  }
  
  .devices .device-icons:hover{
    color: white;
    cursor: pointer;
  }
  
  .android-ads-wrapper{
    height: 1350px;
  }
  
  .android-ads-content{
    display: block;
    width: 100%;
  }
  
  .text-content{
    margin: 20px 0 10px 10px ;
  }
  
  .text-content h1{
    font-size: 30px;
  }
  
  #googleplay img{
    height: 30px;
    width: 100px;
    margin-left: 100px;
  }
  
  .text-content ul{
    margin: 40px;  
  }
  
  .text-content ul li{
    font-size: 14px;
    padding-top: 10px;
  }
  
  .android-image-ads{
    margin-top: 30px;
    margin-left: 5px;
    position: relative;
  }
  
  .forex-wrapper{
    height: 600px;
    text-align: center;
    position: relative;
  }
  
  .forex-content{
    padding-top: 30px;
  }
  
  .forex-content h1{
    font-size: 20px;
  }
  
  .forex-content p{
    padding-top: 20px;
    font-size: 13px;
  }
  
  .forex-content2{
    display: block;
  }
  
  .forex-first-link{
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  .forex-first-link p{
    font-size: 12px;
    margin-top: 10px;
  }
  
  .forex-content2 hr{
    display: none;
  }
  
  
  .forex-second-link{
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  
  .forex-second-link a{
    font-size: 16px;
  }
  
  .forex-contd{
    position: relative;
    height: 170vh;
  }
  
  .suspended-ads{
    display: block;
    position: relative;
    width: 100%;
  }
  
  
  .bonus-on-deposit-container{
    position: relative;
    height: 300px;
    width: 80%;
    top: -30px;
    margin-left: 30px;
  }
  
  .bonus-on-deposit-container h3{
    margin: 0px;
    padding: 10px;
    font-size: 12px;
    
  }
  .bonus-on-deposit-container img{
    display: none;
  }
  
  .bonus-on-deposit-container hr{
    width: 70px;
    height: 2px;
    margin-top: 40px;
    margin-left: 30px;
  }
  
  .bonus-on-deposit-container p{
    padding: 5px 15px 25px 30px;
    font-size: 12px;
  }
  
  .bonus-on-deposit-container a{
    font-size: 12px;
    margin-left: 15px;
  }
  
  .negative-balance-pro{
    position: relative;
    height: 300px;
    width: 80%;
    top: -30px;
    margin-left: 30px
  }
  
  .negative-balance-pro h3{
    margin: 15px;
    padding-top: 10px;
    font-size: 12px;
  }
  .negative-balance-pro img{
    display: none;
  }
  
  .negative-balance-pro hr{
    width: 70px;
    height: 2px;
    margin-top: 30px;
    margin-left: 30px;
  }
  
  .negative-balance-pro p{
    font-size: 13px;
    padding: 5px 15px 55px 30px;
  }
  
  .negative-balance-pro a{
    font-size: 15px;
    margin:0 0 0 20px ;
  }
  
  .Choose-forex-trade{
    text-align: center;
    padding-top: 10px;
    width: 100%;
  }
  
  .Choose-forex-trade h1{
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .forex-conditions{
    display:flex;
    flex-direction: column;
    font-size:13px;
    justify-content: center;
  }
  
  .forex-conditions p {
    margin: 20px 30px 5px 30px;
  }
  
  
  .Profit{
    height: 200px;
    padding-top: 30px;
  }
  
  .Profit a{
    font-size: 20px;
  
  }
  
  .footer-bar{
    height: 880px;
  }
    
  .footer-content{
      display: block;
      margin-left: 5px;
  }
    
  .footer-content ul{
      font-size: 15px;
      margin:0px 70px 15px 20px;
    }
    
    .footer-content ul a li{
      font-size: 10px;
      margin:20px 0px 0 0;
    }
    
    .get-app-container{
      margin: 35px 0 0 10px;
    }
    
    .get-app-container >p{
      margin-bottom: 20px;
      font-size: 15px;
    }
    .get-app{
      display: flex;
      margin-bottom: 20px;
    }
    
    .app-title p{
      font-size: 12px;
      margin-left: 10px;
      margin-bottom: 5px;
    }
    
    .app-link p{
      font-size: 10px;
      margin-left: 10px;
    }
    
    .get-app img{
      width: 40px;
      height: 35px;
    }
  
    .social-media{
       margin: 35px 0 0 10px;
    }
    
    .social-media >p{
      margin-bottom: 25px;
    }
    
    .social-media a img{
      margin-bottom: 25px;
    }
    
    .social-media .media-accnt{
      margin: 0px 30px 10px 0;
      font-size: 17px;
    }
    
    .final-footer p{
      font-size: 12px;
      color: grey;
      margin-left:10px;
      text-align: center;
    }
    
    .final-footer .company-footer{
      margin-top: 15px;
      margin-bottom: 15px;
      margin-left: 10px;
      text-align: left;
    }
    
    .final-footer .company-footer a{
      font-size: 10px;
      font-weight: bold;
    }
    
  }

  @media (min-width: 364px) and (max-width:414px) {

    .header1{
      display: none;
      position: relative;
      display: none;
      z-index: -10;
      background-color: rgba(0, 0, 0, 0.404);
    }
    
    .navs-me{
      display: flex !important;
      position: absolute;
      z-index: 1;
      top: 0px;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.24);
      padding-top: 20px;
      padding-bottom: 20px;
    }
    
    .octa-fx{
      left: 150px;
      position: absolute;
      
    }
    
     .navigation-bar:hover #fx-bar-wrapper ul{
        display: block;
    }
    #dropdown{
      position: absolute;
    }
    .fxtrading{
      position: absolute !important;
      width: 100%;
    }
    
    .fxtrading ul{
      position: absolute !important;
      /* left: ; */
      /* top: 0; */
      background-color: rgb(105, 8, 8) !important;
      height: 50vh !important;
      width: 90% !important;
    }
    
    .fxtrading ul a{
      display: block;
    }
    
    
    .fxtrading ul:hover ~a li{
      display:block;
    }
    
    
    .OctaFX-award{
     display: none;
    }
    
    .fx-bar-wrapper ul{
      display: none;
      background-color: #02001e;
      width: 100%;
      top: -25px;
    }
    
    .fxtrading ul{
      padding: 0px 0px 0px 0px;
      font-weight: 600;
      margin-left:10px;
      background-color: none;
      display: flex !important;
      flex-direction: column;
      position: relative;
      top: 10px;
    
    }
    
    .fxtrading ul a{
      font-size: 10px;
    }
    
    #checkbox1{
      position: absolute;
      top:-60px;
      margin-left: 10px;
      padding: 20px;
      z-index: 11;
      visibility: hidden;
      display: block;
    }
    
    .external{
      display: block;
      color:#fff;
      margin: 0px 0 0 340px;
      font-size: 30px;
    }
    
    .Hamburger{
    /* padding: 5px; */
      display: flex;
      position: absolute;
      font-size: 40px;
      top: -65px;
      left: 10px;
      cursor: pointer;
      z-index: 10 ; 
    }
    
    
    .navbar-wrapper{
      background-color: transparent;
      border-top: transparent;
    }
    
    .nav-bars{
      margin-left: 0px;
      top: -12px;
      margin-top: 0;
      position: absolute;
    }
    
    /*........ main content starts from here */
    .main-content {
      position: relative;
      height: 550px;
    }
    
    
    .main-content h4,
    .main-content h1,
    .main-content a,
    .main-content p {
      margin-left: 15px;
    }
    
    .main-content .ad-date {
      padding: 150px 0 40px 0;
    
    }
    .ads-details {
      font-size: 25px;
      margin-bottom: 20px;
    }
    
    .ads-details1 {
      margin-bottom: 50px;
      font-size: 15px;
    }
    
    .friendship-month {
      display: none;
      
    }
    
    .get-invite-link{  
    padding: 20px 70px;
    }
    
    .login-comment{
      margin: 35px;
      padding-left: 15px;
      font-size: 12px;
      visibility: hidden;
    }
    
    .friendship-month-movement{
      margin-top: 100px;
      display: flex;
      align-items: center;
    }
    /* rating block starts here */
    .rating-block{
      height: 40vh;
      width: 100%
    }
    
    /* rating pilot */
    .pilot{
      font-size: 30px;
      margin-top: 10px;
    }
    
    .ratings{   
    position: relative; 
    display: flex;
    margin:20px;
    }
    
    /* first rating */
    .sub1{
      padding: 40px;
      font-weight: 600;
      margin-left: 40px;
      margin-top: 30px;
    }
    
    .sub1 h3,.sub1 p,.sub1 p a{
      display: none;
    }
    
    /* Trustpilot */
    .sub1 span{
      font-size: 15px;
      cursor: pointer;
    }
    
    .scroll-1, .scroll-2,.sub-ratings{
    display:none
    }
    
    .icons-box1{
      display: none; 
    }
    
    /* rating block ends here */
    .main-content-container-2{  
      height: 400px;
      width: 100%;
    }
    
    .main-content-container-2-shed{
      height: 400px;
      width: 100%;
      position: relative;
    }
    
    .main-content-container-2-shed h1{  
      font-size: 17px;
      padding-top: 30px;
    
    }
    
    .main-content-text {
      margin-left: 50px;
      text-align: center;
    }
    
    .main-content-text2{
      margin-left: 100px;
      text-align: center;
      display: none;
    }
    
    .main-content-wrapper{
      display: block;
      margin-top: 0rem;
    }
    
    .context-text-1{
      font-size: 20px;
      margin-right: 5rem;
    }
    .content-text-2{
      /* margin: auto; */
      margin-left: 80px;
    }

    .content-text-3{
      font-size: 30px;
      margin-right: 5rem;
    }
    
    .content-text-3 span{
      font-size: 45px;
    }
    
    .learn-more{
      margin-right: 80px;
    }
    
    .learn-more:hover{
      text-decoration: none;
    }
    .content-text2-1{
     font-size: 20px;
    }
    
    .content-text2-2{
      font-size: 30px;
      margin-top: 50px;
    }
    
    .content-text2-2 span{
      font-size: 45px;
    }
    
    .learn-more2:hover{
      text-decoration: none;
    }
    
    .account-type-button{
      top: 0rem;
      margin: 10px 90px;
      position: relative;
      font-size: 9px;
      display: inline-flex;
      align-items: center;
      /* height: 60px; */
      padding: 0 32px;
    }
    
    .devices{
      height: 60px;
      background-color: rgba(0, 0, 0, 0.336);
      position: absolute;
      width: 100%;
      margin-top: 25px;
      display: flex;
      top: 315px;
    }
    
    .devices p{
      margin-left: 80px;
      padding:30px 10px 0 0;
    }
    
    .devices .device-icons{
      margin:20px 0px 20px 10px ;
      font-size: 20px;
      justify-content: space-evenly;
    }
    
    .devices .device-icons:hover{
      color: white;
      cursor: pointer;
    }
    
    .android-ads-wrapper{
      height: 1030px;
    }
    
    .android-ads-content{
      display: block;
      width: 100%;
    }
    
    .text-content{
      margin: 20px 0 5px 20px ;
    }
    
    .text-content h1{
      font-size: 30px;
    }
    
    #googleplay img{
      height: 30px;
      width: 100px;
      margin-left: 90px;
      border-radius: 5px;
    }
    
    .text-content ul{
      margin: 20px;  
    }
    
    .text-content ul li{
      font-size: 10px;
      padding-top: 5px;
    }
    
    .android-image-ads{
      margin-top: 5px;
      margin-left: 5px;
      position: relative;
    }
    
    .forex-wrapper{
      height: 550px;
      text-align: center;
      position: relative;
    }
    
    .forex-content{
      padding-top: 20px;
    }
    
    .forex-content h1{
      font-size: 20px;
    }
    
    .forex-content p{
      padding: 10px 10px 5px 10px ;
      font-size: 12px;
    }
    
    .forex-content2{
      display: block;
    }
    
    .forex-first-link{
      margin-left: 10px;
      margin-top: 20px;
      margin-bottom: 10px;
    }
    
    .forex-first-link p{
      font-size: 12px;
      margin-top: 10px;
    }
    
    .forex-content2 hr{
      display: none;
    }
  
    .forex-second-link{
      margin-left: 20px;
      margin-top: 10px;
      margin-bottom: 20px;
    }
    
    .forex-second-link a{
      font-size: 16px;
    }
    
    .forex-contd{
      position: relative;
      height: 1100px;
    }
    
    .suspended-ads{
      display: block;
      position: relative;
      width: 100%;
    }
    
    
    .bonus-on-deposit-container{
      position: relative;
      height: 320px;
      width: 80%;
      top: -20px;
      margin-left: 30px;
    }
    
    .bonus-on-deposit-container h3{
      margin: 0px;
      padding: 20px;
      font-size: 15px;
    }
    .bonus-on-deposit-container img{
      display: none;
    }
    
    .bonus-on-deposit-container hr{
      width: 70px;
      height: 2px;
      margin-top:20px;
      margin-left: 30px;
    }
    
    .bonus-on-deposit-container p{
      padding: 5px 15px 25px 30px;
      font-size: 13px;
    }
    
    .bonus-on-deposit-container a{
      font-size: 12px;
      margin-left: 5px;
    }
    
    .negative-balance-pro{
      position: relative;
      height: 300px;
      width: 80%;
      top: -20px;
      margin-left: 30px;
    }
    
    .negative-balance-pro h3{
      margin: 15px;
      padding-top: 20px;
      font-size: 13px;
    }
    .negative-balance-pro img{
      display: none;
    }
    
    .negative-balance-pro hr{
      width: 70px;
      height: 2px;
      margin-top: 30px;
      margin-left: 30px;
    }
    
    .negative-balance-pro p{
      padding: 15px 15px 55px 27px;
      font-size: 13px;
    }
    
    .negative-balance-pro a{
      font-size: 15px;
      margin:0 0 0 20px ;
    }
    
    .Choose-forex-trade{
      text-align: center;
      padding-top: 10px;
      width: 100%;
    }
    
    .Choose-forex-trade h1{
      font-size: 20px;
      margin-bottom: 10px;
    }
    
    .forex-conditions{
      display:flex;
      flex-direction: column;
      font-size:13px;
      justify-content: center;
    }
    
    .forex-conditions p {
      margin: 25px 40px 5px 40px;
    }
    
    
    .Profit{
      height: 160px;
      padding-top: 30px;
    }
    
    
    .Profit a{
      font-size: 13px;
    }
    
    .footer-bar{
      height: 820px;
    }
      
    .footer-content{
        display: block;
        margin-left: 10px;
    }
      
    .footer-content ul{
        font-size: 15px;
        margin:0px 70px 15px 20px;
      }
      
      .footer-content ul a li{
        font-size: 10px;
        margin:20px 0px 0 0;
      }
      
      .get-app-container{
        margin: 35px 0 0 10px;
      }
      
      .get-app-container >p{
        margin-bottom: 20px;
        font-size: 15px;
      }
      .get-app{
        display: flex;
        margin-bottom: 20px;
      }
      
      .app-title p{
        font-size: 12px;
        margin-left: 10px;
        margin-bottom: 5px;
      }
      
      .app-link p{
        font-size: 10px;
        margin-left: 10px;
      }
      
      .get-app img{
        width: 40px;
        height: 35px;
      }
    
      .social-media{
         margin: 35px 0 0 10px;
      }
      
      .social-media >p{
        margin-bottom: 25px;
      }
      
      .social-media a img{
        margin-bottom: 25px;
      }
      
      .social-media .media-accnt{
        margin: 0px 30px 0 0;
        font-size: 17px;
      }
      
      .final-footer p{
        font-size: 12px;
        color: grey;
        margin-left:5px;
        text-align: center;
      }
      
      .final-footer .company-footer{
        margin-top: 15px;
        margin-bottom: 15px;
        margin-left: 10px;
        text-align: left;
      }
      
      .final-footer .company-footer a{
        font-size: 10px;
        font-weight: bold;
      }
    }

@media (min-width: 415px) and (max-width: 600px) {
  .header1{
    display: none;
  }
  
  .navs-me{
    display: flex !important;
    position: absolute;
    z-index: 1;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.459);
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
  }
  
  .octa-fx{
    left: 180px;
    position: absolute;

  }
  
  .OctaFX-award{
   display: none;
  }
  
  .fx-bar-wrapper ul{
    display: none;
    background-color: #02001e;
    width: 100%;
    /* left:  -50px; */
    /* top: 100px; */
  }
  
  #checkbox1{
    position: absolute;
    top:-60px;
    margin-left: 10px;
    padding: 20px;
    z-index: 11;
    visibility: hidden;
    width: 2rem;
    /* height: 2rem; */
    display: block;
  }
  
  .external{
    display: block;
    margin: 0px 0 0 450px;
  }
  
  .Hamburger{
    display: flex;
    position: absolute;
    font-size: 40px;
    top: -65px;
    left: 10px;
    cursor: pointer;
    z-index: 10 ; 
  }
  
  
  .navbar-wrapper{
    background-color: transparent;
    border-top: transparent;
  }
  
  .nav-bars{
    margin-left: 0px;
    top: -12px;
    margin-top: 0;
    position: absolute;
  }
  
  
  /*........ main content starts from here */
  .main-content {
    position: relative;
    height: 620px;
    width: 100%;
  }
  
  
  .main-content h4,
  .main-content h1,
  .main-content a,
  .main-content p {
    margin-left: 10px;
    color: #fff;
    font-weight:900;
    text-align: center;
  }
  
  .main-content .ad-date {
    padding: 160px 0 40px 0;
    color: #fff;
  }
  .ads-details {
    font-size: 35px;
    font-weight: 900;
    margin-bottom: 20px;
  }
  
  .ads-details1 {
    /* font-size:20px; */
    margin-bottom: 50px;
  }
  
  .friendship-month {
    display: none;
    
  }
  
  .get-invite-link{  
    margin-left: 50px !important;
    padding: 20px 80px;
    color: white !important;
  }

  .login-comment{
    visibility: hidden; 
  }
  
  /* rating block starts here */
  .rating-block{
    height: 300px;
    width: 100%
  }
  
  /* rating pilot */
  .pilot{
    font-size: 20px;
    margin-top: 10px;
  }
  
  .ratings{   

    position: relative; 
    display: flex;
    margin:0px;
  }
  
  /* first rating */
  .sub1{
    padding: 40px;
    font-weight: 600;
    margin-left: 0px;
    margin-top: 30px;
  }
  
  /* .sub1 h3,.sub1 p,.sub1 p a{
    display: none;
  } */
  
  /* Trustpilot */
  .sub1 span{
    font-size: 12px;
    cursor: pointer;
  }
  
  .sub-ratings{
    overflow-x: scroll;

  }
.sub-ratings {
  font-size: 10px;
  margin-right: 15px;
}

  .icons-box1{
    font-size: 13px;
  }

.icons-box{
  font-size: 12px;
}

#range{
 display: none;
}

.sub-ratings1 h4{
  font-size: 7px;
}

.sub-ratings1 p{
  font-size: 10px;
  text-align: center;
}
  
  /* rating block ends here */
  .main-content-container-2{  
    height: 380px;
    width: 100%;
  }
  
  .main-content-container-2-shed{
    height:380px;
    width: 100%;
  }
  
  .main-content-container-2-shed h1{  
    font-size: 17px;
    padding-top: 10px;
    padding-bottom: 0px !important;
  }
  
  .main-content-text {
    margin-left: 80px;
    text-align: center;
    margin-top: 5px;
  }
  
  .main-content-text2{
    display: none;
  }
  
  .main-content-wrapper{
    /* display: block;
    margin-top: 1rem; */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .context-text-1{
    font-size: 20px;
    margin-right: 5rem;
    margin-top: 0px;
  }

  /* .content-text-2{
    margin-left: 7rem;
  } */
  
  .content-text-3{
    font-size: 30px;
    margin-right: 5rem;
  }
  
  .content-text-3 span{
    font-size: 45px;
  }
  
  .learn-more{
    margin-right: 5rem;
  }
  
  .learn-more:hover{
    text-decoration: none;
  }
  
  .learn-more2:hover{
    text-decoration: none;
  }
  
  .account-type-button{
    margin: 10px 110px;
    position: relative;
    font-size: 10px;
    display: inline-flex;
    align-items: center;
    padding: 0px 15px;
  }
  
  .devices{
    height: 50px;
    background-color: rgba(0, 0, 0, 0.336);
    position: absolute;
    width: 100%;
    margin-top: 10px;
    display: flex;
  }
  
  .devices p{
    margin-left: 80px;
    padding:20px 10px 0 0;
  }
  
  .devices .device-icons{
    margin:10px 10px 10px 10px ;
    font-size: 30px;
    justify-content: space-evenly;
  }
  
  .devices .device-icons:hover{
    color: white;
    cursor: pointer;
  }
  
  .android-ads-wrapper{
    height: 1250px;
    width: 100%;
  }
  
  .android-ads-content{
    display: block;
    width: 100%;
  }
  
  .text-content{
    margin: 20px 0 10px 20px ;
  }
  
  .text-content h1{
    font-size: 30px;
  }
  
  #googleplay img{
    height: 40px;
    width: 150px;
    margin-left: 120px;
    border-radius: 5px;
    
  }
  
  .text-content ul{
    margin: 20px;  
  }
  
  .text-content ul li{
    font-size: 14px;
    padding-top: 10px;
  }
  
  .android-image-ads{
    margin-top: 10px;
    margin-left: 40px;
  }
  
  .forex-wrapper{
    width: 100%;
    height: 560px;
    text-align: center;
    position: relative;
  }
  
  .forex-content{
    padding-top: 60px;
  }
  
  .forex-content h1{
    font-size: 20px;
  }
  
  .forex-content p{
    padding-top: 20px;
    font-size: 13px;
  }
  
  .forex-content2{
    display: block;
  }
  
  .forex-first-link{
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  .forex-first-link p{
    font-size: 12px;
    margin-top: 10px;
  }
  
  .forex-content2 hr{
    display: none;
  }
  
  .forex-second-link{
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  
  .forex-second-link a{
    font-size: 16px;
  }
  
  .forex-contd{
    width: 100%;
    position: relative;
    height: 1140px;
  }
  
  .suspended-ads{
    display: block;
    position: relative;
    width: 100%;
    padding: 10px;
  }
  
  
  .bonus-on-deposit-container{
    position: relative;
    height: 50vh;
    width: 80%;
    top: -15px;
    margin-left: 30px;
  }
  
  .bonus-on-deposit-container h3{
    margin: 0px;
    padding: 20px;
  }
  .bonus-on-deposit-container img{
    display: none;
  }
  
  .bonus-on-deposit-container hr{
    width: 70px;
    height: 2px;
    margin-top: 40px;
    margin-left: 30px;
  }
  
  .bonus-on-deposit-container p{
    padding: 5px 15px 25px 30px;
  }
  
  .bonus-on-deposit-container a{
    font-size: 14px;
    margin-left: 5px;
  }

  .negative-balance-pro{
    position: relative;
    height: 50vh;
    width: 80%;
    top: 0px;
    margin-left: 30px
  }
  
  .negative-balance-pro h3{
    margin: 15px;
    padding-top: 10px;
    font-size: 15px;
  }
  .negative-balance-pro img{
    display: none;
  }
  
  .negative-balance-pro hr{
    width: 70px;
    height: 2px;
    margin-top: 30px;
    margin-left: 30px;
  }
  
  .negative-balance-pro p{
    padding: 15px 15px 55px 20px;
  }
  
  .negative-balance-pro a{
    font-size: 15px;
    margin:0 0 0 20px ;
  }
  
  .Choose-forex-trade{
    text-align: center;
    padding-top: 10px;
    width: 100%;
  }
  
  .Choose-forex-trade h1{
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .forex-conditions{
    display:flex;
    flex-direction: column;
    font-size:13px;
    justify-content: center;
  }
  
  .forex-conditions p {
    margin: 20px 40px 5px 60px;
  }
  
  
  .Profit{
    height: 150px;
    padding-top: 30px;
  }
  
  
  .Profit a{
    font-size: 20px;
    padding: 10px;
  
  }
  
  .footer-bar{
    height: 850px;
  }
    
  .footer-content{
      display: block;
      margin-left: 0px;
  }
    
  .footer-content ul{
      font-size: 15px;
      margin:0px 70px 15px 20px;
    }
    
    .footer-content ul a li{
      font-size: 10px;
      margin:20px 0px 0 0;
    }
    
    .get-app-container{
      margin: 35px 0 0 10px;
    }
    
    .get-app-container >p{
      margin-bottom: 20px;
      font-size: 15px;
    }
    .get-app{
      display: flex;
      margin-bottom: 20px;
    }
    
    .app-title p{
      font-size: 12px;
      margin-left: 10px;
      margin-bottom: 5px;
    }
    
    .app-link p{
      font-size: 10px;
      margin-left: 10px;
    }
    
    .get-app img{
      width: 40px;
      height: 35px;
    }
  
    .social-media{
       margin: 35px 0 0 20px;
    }
    
    .social-media >p{
      margin-bottom: 25px;
    }
    
    .social-media a img{
      margin-bottom: 25px;
    }
    
    .social-media .media-accnt{
      margin: 0px 30px 0 0;
      font-size: 17px;
    }
    
    .final-footer p{
      font-size: 12px;
      color: grey;
      margin-left:10px;
      text-align: left;
    }
    
    .final-footer .company-footer{
      margin-top: 15px;
      margin-bottom: 15px;
      margin-left: 1px;
      text-align: left;
    }
    
    .final-footer .company-footer a{
      font-size: 10px;
      font-weight: bold;
      text-align: left;
      padding-left: 15px;
    }
    
  }
  